@model GOBrothers.Domain.Entities.Post

@{
    ViewBag.Title = "Post";
}

<div class="item">
    <div><h3>@Model.Title</h3></div>
    <div style="float:left;"><a href='~/Content/PostImages/@Model.Id.ToString()/Logo/logo.jpg' rel='prettyPhoto[pp_gal]'><img src='~/Content/PostImages/@Model.Id.ToString()/Logo/logo_small.jpg' alt='' class="logo" /></a></div>
    <div class="main-content" style="margin-left:200px;">@Html.Raw(Model.Content)</div>
    <div style="clear:left">Категорія: @Html.RouteLink(Model.Blog.Name, new { controller = "Post", action = "List", blogId = Model.Blog.Id })</div>
    @{
        string Created = "";
        if (Model.Created != null) { Created = Model.Created.Value.ToString("dd.MM.yyyy H:mm:ss"); }
    }
    <div style="color:#808080;font-size:10px;">Додано/редаговано: @Created</div>
</div>

<div>
    <br>
    <!--Html.RouteLink("Повернутися до списку", new { controller = "Post", action = "List", blogId = Model.BlogId })-->
    @Html.ActionLink("Повернутися", null, null, null, new { href = Request.UrlReferrer })
</div>